#webpageTitle {
  margin: 2vh auto;
}
#profileForm {
  width: 80vw;
  margin: 0 auto;
}
#main form {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.rounded-pill {
  margin-bottom: 15px;
}
